<div class="card">
  <img class="card-img-top" src="{{ prodData?.image }}" alt="Card image cap" />
  <div class="card-body">
    <h5
      class="card-title"
      [routerLink]="['/product-details', prodData?.id]"
      style="cursor: pointer"
    >
      {{ prodData?.title }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ prodData?.price }}</h6>

    <div *ngIf="showDetails; then short; else long"></div>
    <ng-template #short>
      <p class="card-text">
        {{ prodData?.description! | stringSlice: 0:30 }}
      </p>
      <button
        type="button"
        (click)="addToCart(prodData!)"
        mdbBtn
        color="dark"
        mdbWavesEffect
      >
        Add
      </button>
    </ng-template>
    <ng-template #long>
      <p class="card-text" #long>
        {{ prodData?.description }}
      </p>
    </ng-template>
  </div>
</div>
